{% extends 'base/base.html' %}

{% block title %}
Calendar
{% endblock %}

<link rel="stylesheet" href="static/css/calender.css" ) %}">
{% block body %}
<br>
<div class="row">
  <div class="col s5">
    <div id="calender_place_id" class="col s12 offset-s1">
      <div class="row yearMonth">
        <div class="mainYearMonth col s4">
          <div class="">
            <span title="Previous Month" class="fas fa-angle-left glyph-icons monthChangeGlyphicon" style="float: left"
              onclick="previousMonth()"></span>
            <span id="year_month_id">Some Date</span>
            <span title="Next Month" class="fas fa-angle-right glyph-icons monthChangeGlyphicon" style="float: right"
              onclick="nextMonth()"></span>
          </div>
        </div>
        <div class="col s1">
          <span title="Reset Date" class="fas fa-undo glyph-icons monthResetGlyphicon" onclick="resetMonth()"></span>
        </div>
      </div>
      <table class="table table-bordered" style="background-color: white">
        <thead>
          <tr>
            <th class="centerText" width="14%">Sun</th>
            <th class="centerText" width="14%">Mon</th>
            <th class="centerText" width="14%">Tue</th>
            <th class="centerText" width="14%">Wed</th>
            <th class="centerText" width="14%">Thu</th>
            <th class="centerText" width="14%">Fri</th>
            <th class="centerText" width="14%">Sat</th>
          </tr>
        </thead>
        <tbody id="calendarBody">
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s7">
    <div id="event_preview_id" class="cal-preview col s4 offset-s1" style="padding: 0">
      <div class="previewHeader" id="previewDispId">Preview</div>
    </div>
  </div>
</div>
{% endblock %}
{% block static_files %}
<script>
  var c_month = '';
  var c_year = '';
  var selected_date = '';
  var today = ''
  function setPreviewDate(dispDate) {
    $('#previewDispId').text(dispDate);
  }
  function generateCalender(data) {
    //var weeks = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    //var only_days = Object.keys(data.days);
    //var first_day = Object.values(data.days[0])[0];
    //var start_pos = weeks.indexOf(first_day);
    //console.log("BEFORE", only_days)
    //var i = 0;
    //while(i < start_pos) {
    //only_days.unshift('-1');
    //i++;
    //}
    //while(only_days.length % 7 != 0) {
    //only_days.push('-1');
    //}
    //console.log("After", only_days);

    //only_days.forEach(function(item) {


    //});
    selected_date = data.today;
    today = data.today;
    var days_list = data.days;
    times = days_list.length / 7;
    var tableBody = '';
    for (var j = 0; j < times; j++) {
      tableBody += '<tr>';
      for (var i = j * 7; i < (j * 7) + 7; i++) {
        tableBody += '<td id=day' + days_list[i].day + days_list[i].extra + ' class="' + days_list[i].styles + '" onclick="dateClicked(' + days_list[i].day + ',' + data.month + ',' + data.year + ')"><span>' + days_list[i].day + '</span></td>';
      }
      tableBody += '</tr>';
    }
    $('#calendarBody').html(tableBody);
    $('#year_month_id').html((data.month_name) + ', ' + data.year);
    setPreviewDate(selected_date);
    c_month = parseInt(data.month);
    c_year = parseInt(data.year)
  }
  function callCalDaysMethod(year, month) {
    $.get("/calendar/get_calender_days", { "year": year, 'month': month }, function (data, status) {
      generateCalender(JSON.parse(data))
    });
  }
  $(document).ready(function () {
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    callCalDaysMethod(year, month)
  });
  $('#createCalBtn').click(function (event) {
    event.preventDefault();
    $('#loading_div').removeClass('hide');
    $('#loading_div').addClass('loading');
    $('#createCalForm').submit()
  });

  function nextMonth() {
    var year_inc = (c_month + 1) > 12 ? true : false;
    if (year_inc) {
      c_year += 1;
      c_month = 1;
    }
    else {
      c_month += 1;
    }
    callCalDaysMethod(c_year, c_month);
  }

  function resetMonth() {
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    callCalDaysMethod(year, month);
  }

  function disablePrevious(year, month) {
    var date = new Date();
    if (date.getFullYear() >= year) {
      if (date.getFullYear() == year) {
        if (date.getMonth() + 1 >= month) {
          return false;
        }
      }
    }
    else {
      return true;
    }
  }

  function previousMonth() {
    var year_dec = (c_month - 1) < 1 ? true : false;
    if (year_dec) {
      c_year -= 1;
      c_month = 12;
    }
    else {
      c_month -= 1
    }
    callCalDaysMethod(c_year, c_month)
  }

  function dateClicked(day, month, year) {
    selected_date = day + '/' + month + '/' + year;
    $('td').removeClass('daySelected');
    if (today != selected_date) {
      $('#day' + day).addClass('daySelected');
    }
    setPreviewDate(selected_date);
  }

  $("button").click(function () {
    $("p").toggleClass("main");
  });
</script>
<style>
  .main {
    font-size: 120%;
    color: red;
  }
</style>
{% endblock %}