<nav class="custom-navbar">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> Logo </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if current_user.is_authenticated %}
      <li class="{% if data.nbar == 'calendar' %}active disable-event{% endif %}"><a
          href="{{ url_for('calendar.calendar') }}">My Calendar</a></li>
      <li class="{% if data.nbar == 'profile' %}active disable-event{% endif %}"><a
          href="{{ url_for('user.profile') }}">Profile</a></li>
      <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
      {% else %}
      <li class="{% if data.nbar == 'login' %}active disable-event{% endif %}"><a
          href="{{ url_for('user.login') }}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>