body {
  /* background-color: #FFE53B; */
background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
min-height: 100vh;
font-family: 'Fira Sans', sans-serif;
}

nav.custom-navbar {
  background-color: #fff536de;
  /* position: fixed; */
}

nav ul a{
  /* color: #000000c4; */
  color: #564a41;
  font-weight: bold;
}
form.custom-login-form-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.error-color {
  color: red
}

.input-field .error-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: red;
}

/* .disable-event {
  pointer-events: none;
  cursor: default;
} */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }
  .alert-heading {
  color: inherit;
  }
  .alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
  }

  .alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    }

    .alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  }

  .alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
    }

    .alert-block > p,
.alert-block > ul {
margin-bottom: 0;
}
.alert-block p + p {
margin-top: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Calendar CSS */
.centerText {
  text-align: center;
  color: #3a8f989e;
}

.muted {
  background-color: #d5d5d5;
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}

.muted:hover {
  cursor: not-allowed;
  pointer-events: none;
}

.currentMonthDays:visited {
  background-color: #A1887F;
  color: white;
}

.tdClass {
  padding: 8px;
  line-height: 3.8 !important;
  font-size: 15px;
}

.today, .today:hover {
  background-color: #00897A;
  color: white;
  font-weight: bold;
}


.mainYearMonth {
  text-align: center;
}

.yearMonth {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px;
  background-color: #616161;
  margin-bottom: 10px;
  color: white
}

.oldMonth {
  background-color: #eaeaea;
  cursor: not-allowed;
  pointer-events: none;
  color: gray;
}

.oldMonth:hover {
  cursor: not-allowed;
  pointer-events: none;
}

.cal-preview {
  background-color: white;
  margin-top: 50px;
  height: 400px;
}

.monthChangeGlyphicon {
  cursor: pointer;
}

.monthResetGlyphicon {
  cursor: pointer;
  font-size: 15px !important;
}

.monthChangeGlyphicon:active,
.monthResetGlyphicon:active,
.monthChangeGlyphicon:hover,
.monthResetGlyphicon:hover{
  color: gray;
}

.previewHeader {
  text-align: center;
  padding: 10px;
  background-color: #7f9dc1d1;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .cal-preview {
    margin-left: 12px;
    margin-right: 12px;
  }
  .yearMonth {
    width: 100%;
  }
}

.daySelected {
  background-color: #A1887F;
  color: white;
}

#irc_pc {
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  position: absolute;
  top: -10px;
  width: 0;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #ddd !important
}

.glyph-icons {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 1;
  font-size: 20px;
  font-weight: bold;
}

.profile-section-1 {
  padding-top: 1%;
  /* background-color: #26a69a; */
  height: 280px;
}

.center-div {
  height: 300px;
  width: 300px;
}

.dot {
  height: 170px;
  width: 170px;
  background-color: #bbb;
  border-radius: 50%;
}

.center-place {
  display: block;
  margin: auto;
}

.profile-name {
  margin-top: 1%
}

.white-text {
  color: white;
}

/* Card details css */
.profile-gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding-top: 70px; */
}
.profile-card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 350px;
  margin: 20px 0;
  background-color: #eeeed6;
  border-radius: 20px;
  display: flex;
  font-family: arial;
}

.profile-card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.add-user-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.form-div-cream {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: wheat;
  border-radius: 12px;
}