{% extends 'base/base.html' %}

{% block title %}
User Management
{% endblock %}


{% block body %}
<div class="profile-gallery">
  <div class="profile-card">
    <a href="{{ url_for('admin.add_user') }}" title="Add New User"
      class="fas fa-plus-square glyph-icons center-place add-user-icon" id="add-new-user" style="color: #90D3DE">
    </a>
  </div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
</div>
{% endblock %}

{% block static_files %}
{% endblock %}