{% extends 'base/base.html' %}

{% block title %}
User Management
{% endblock %}


{% block body %}
<div class="profile-gallery">
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
  <div class="profile-card"></div>
</div>
{% endblock %}

{% block static_files %}
{% endblock %}