{% extends 'base/base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block body %}
<br>
<div class="row container">
  <div class="col s10 offset-s1 form-div-cream">
    <div class="input-field col s5 offset-s4">
      <h4>Forgot Password</h4>
    </div>
    <form class="col s8 offset-s2 user-forgot-password-form" action="{{url_for('user.forgot_password')}}" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <!-- <input id="email" type="email" class="validate" name="email" required>
          <label for="email">Email</label> -->
          {{form.email.label}}{{form.email(class_="validate")}}
          {% if form.email.errors %}
          <span class="error-text" data-error="wrong" data-success="right">{{ ', '.join(form.email.errors) }}</span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <!-- <div class="input-field col s6">
        <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Cancel</button>
      </div> -->
        <div class="input-field col s6">
          <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}