{% extends 'base/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="row profile-section-1">
  <div class="center-div center-place">
    <div class="dot center-place"></div>
    <div class="center profile-name white-text">{{current_user.username or current_user.email}}</div>
    <div class="center profile-name white-text">ROLE</div>
  </div>
</div>
<div class="row container center">
  <div class="col s3">About Me</div>
  <div class="col s3">Resume</div>
  <div class="col s3">Emergency Contact</div>
  <div class="col s3">Interests</div>
</div>
{% endblock %}
{% block static_files %}
<script src="{{url_for('static', filename='js/constants.js')}}"></script>
<script src="{{url_for('static', filename='js/helper.js')}}"></script>
{% endblock %}